@import './components/input/BudgetInput.css';
@import './components/output/output.css';
.App {
  text-align: center;
  background-image: linear-gradient( #4CA1AF,rgb(250, 250, 250));
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.top {
  height: 50vh;
  /* background-image: linear-gradient(#0B486B, #F56217); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget__title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fff;
}

.budget__title > * {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
}

.bottom {

}